* {
    font-family: Helvetica;
    font-weight: 300;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
@media only screen and (max-width: 7cm) {
    .box {
        width: 100vw;
    }
}
body {
    display: flex;
    min-height: 100vh;
    flex-flow: row wrap;
    justify-content: center;
}
figure {
    text-align: center;
}
img {
    width: 16rem;
}
figcaption {
    padding: 5px 0;
    text-align: center;
}
#summary {
    font-style: italic;
}
.box {
    flex: 1 1 20vw;
    min-width: 150px;
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
}
h1 {
    font-weight: 600;
    font-size: 2.1rem;
}
h2 {
    font-size: 1.8rem;
    font-weight: 100;
}
h3 {
    font-size: 1.55rem;
    padding: 5px 0;
}
h4 {
    font-weight: 600;
}
h5 {
    font-weight: 600;
    font-size: 1.1rem;
}
.period {
    font-weight: 100;
    font-style: italic;
}
.block {
    padding-top: 10px;
}
.secondary {
    padding-top: 5px;
    padding-left: 15px;
}
.location {
    font-size: 0.91rem;
    font-style: italic;
    padding-bottom: 0.2rem;
}
.personal {
    background-color: darkgrey;
}
.education {
}
.experience {
}
.other-experience {
}