html {
    display: grid;
    justify-content: center;
}
body {
    display: grid;
    grid-template: .5fr .5fr .5fr repeat(5, 120px) / repeat(7, 120px);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1 {
    grid-row: 1 / 2;
    grid-column: 1 / span 7;
    padding-bottom: 0px;
}
h2 {
    grid-row: 2 / 3;
    grid-column: 1 / span 7;
    margin: 0px;
    padding: 0px;
}
h3 {
    margin: 0;
    padding: 8px 0px;
}
.cell {
    display: grid;
    align-items: center;
    justify-content: center;
}
.cell p {
    font-size: large;
}